$fontH: 'Boogaloo', cursive;
$fontSubH: 'Kalam', cursive;
$fontB: 'Open Sans', sans-serif;
$mainSpacing: 70vh;
@mixin flexStuffs {
	display: flex;
	flex-direction: column;
}
$moveOver: 5vw;

* {box-sizing: border-box;
font-size: 100%;}

#wrap {
	display: flex;
}
.import {
	width: 100vw;
}
h1 {
	font-family: $fontH;
	font-size: 3rem;
	letter-spacing: 3px;
	margin-top: 25px;
	margin-bottom: 0px;
}
h2{
	display: inline-block;
	font-family: $fontSubH;
	padding: 10px;
}

#foil {
	@include flexStuffs;
	height: $mainSpacing;
	text-align: center;
	justify-content: center;
	background-color: silver;
}
#prettyPic{
	@include flexStuffs;
	height: $mainSpacing;
	justify-content: center;
	background-color: cornsilk;
	#samp, #sampButt {
		margin-left: $moveOver;
	}
}
#coffee {
	@include flexStuffs;
	height: $mainSpacing;
	justify-content: center;
	background-color: lavender;
	#res, #resButt{
		margin-left: $moveOver;
	}
}
#mePic {
	@include flexStuffs;
	height: $mainSpacing;
	justify-content: center;
	background-color: darkSeaGreen;
	#about, #aboutButt{
		margin-left: $moveOver;
	}
}

.buttonz {
	z-index: 15;
}

.buttonz a {
	text-decoration: none;
	color: black;
		h2 {
			text-decoration: none;
			color: black;
			border-style: solid;
			border-width: 3px;
			border-color: black;
		}
}

.buttonz a h2:hover {
	border-style: dotted;
	border-width: 3px;
	border-color: black;
}

.half {
	opacity: .25;
	position: absolute;
	max-height: $mainSpacing;
	max-width: 100vw;
	overflow: hidden;
	z-index: 1;
}

#bright {
	opacity: .18;
	max-width: 25vw;
	overflow: hidden;
	position: relative;
	left: 50%;
}

footer {
	position: fixed;
	width: 100vw;
	top: 95%;
	text-align: center;
	font-family: $fontB;
	font-size: .9rem;
	background-color: black;
	margin-top: .5rem;
	margin-bottom: 2rem;
	a {
		color: #efefef;
		text-decoration: none;
	}
}

@media (min-width: 37.5rem) {
  /* 600px */
  body {
    // background-color: orange;
  }
  .concert {
		max-width: 100vw;
		max-height: 70vh;
	}
}

@media (min-width: 56.25rem) {
  /* 900px */
	body {
	width: 100%;
	}	
	#wrap {
		overflow: hidden;
	}
	.import{
		display:grid;
		grid-template-columns: 1fr 1fr;
		max-width: 100vw;
	}
	.col {
		display: flex;
		flex: 1 0 50%;
		flex-wrap: wrap;
		flex-direction: column;
		max-width: 50vw;
		overflow: hidden;
	}
	#foil{
		height: 100vh;
		justify-content: center;
		width: 50vw;
	}
	.third {
		display: flex;
		flex: 1 0 50%;
		max-width: 50vw;
		max-height: 33.33vh;
		z-index: 10;
		overflow: hidden;
	}
	footer {
		opacity: 0;
	}
}